
@import "bootstrap";

@import "variables";

@import "admin-lte";

@import "skin-blue-light";

.main-header {
  .logo {
    background-color: #333 !important;
    text-align: left;
    img {
      width: 80px;
    }
  }
  .navbar {
    background-color: #333 !important;
  }
}
