
@import "bootstrap";

@import "variables";

@import "admin-lte";

@import "skin-blue-light";

.logo {
  background-color: #333 !important;
  img {
    width: 80px;
  }
}

.main-header {
  .navbar {
    background-color: #333 !important;
  }
}
