
<section class="wrapper">

  <header class="main-header">
    {{top-bar}}
  </header>

  <aside>
    {{sidebar-nav}}
  </aside>

  <section class="content-wrapper" style="min-height: 1000px">
    {{outlet}}
    {{isLoading}}
  </section>

    <!-- The Right Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">

  </aside>
  <!-- The sidebar's background -->
  <!-- This div must placed right after the sidebar for it to work-->
  <div class="control-sidebar-bg"></div>

</section>
